
:root {
  --btn-padding: calc(var(--spacing-xs) - 1px) calc(var(--spacing-sm) - 1px); // 1px border
  --btn-padding--size-md: var(--btn-padding);
  --btn-padding--size-sm: calc(var(--spacing-2xs) - 1px) calc(var(--spacing-xs) - 1px); // 1px border

  --btn-border: 1px solid;

  // BUTTON COLORS
  --btn-dark-font-color: var(--text-primary-color);
  --btn-light-font-color: var(--text-contrast-color);

  --btn-primary-color: hsla(var(--_accent-color), var(--_opacity--default));
  --btn-primary--hover-color: hsla(var(--_accent-color), var(--_opacity--hover));

  --btn-secondary-color: hsla(var(--_secondary-color), var(--_opacity--default));
  --btn-secondary--hover-color: hsla(var(--_secondary-color), var(--_opacity--hover));

  --btn-disabled-color: var(--disabled-color);
  --btn-disabled-bg-color: transparent;

  --btn-true-color: var(--true-color);
  --btn-true--hover-color: var(--true--hover-color);

  --btn-false-color: var(--false-color);
  --btn-false--hover-color: var(--false--hover-color);

  --btn-hold-color: var(--hold-color);
  --btn-hold--hover-color: var(--hold--hover-color);

  --btn-transfer-color: var(--transfer-color);
  --btn-transfer--hover-color: var(--transfer--hover-color);
}