@font-face {
  font-family: 'Montserrat Semi';
  src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
