:root {
  --chip-padding: var(--spacing-2xs) var(--spacing-sm);
  --chip-border-radius: var(--spacing-lg);

  --wt-chip-main-background-color: var(--primary-light-color);
  --wt-chip-main-text-color: var(--primary-on-color);

  --wt-chip-primary-background-color: var(--primary-color);
  --wt-chip-primary-text-color: var(--primary-on-color);

  --wt-chip-secondary-background-color: var(--secondary-color);
  --wt-chip-secondary-text-color: var(--secondary-on-color);

  --wt-chip-success-background-color: var(--success-color);
  --wt-chip-success-text-color: var(--success-on-color);

  --wt-chip-warning-background-color: var(--warning-color);
  --wt-chip-warning-text-color: var(--warning-on-color);

  --wt-chip-error-background-color: var(--error-color);
  --wt-chip-error-text-color: var(--error-on-color);

  --wt-chip-transfer-background-color: var(--transfer-color);
  --wt-chip-transfer-text-color: var(--transfer-on-color);
}
