@use '@webitel/styleguide/typography' as *;

.wt-chip {
  @extend %typo-body-2;

  display: inline-block;
  border-radius: var(--chip-border-radius);
  background: var(--wt-chip-main-background-color);
  padding: var(--chip-padding);
  color: var(--wt-chip-main-text-color);
  white-space: nowrap;

  &--main-color {
    background: var(--wt-chip-main-background-color);
    color: var(--wt-chip-main-text-color);
  }

  &--primary-color {
    background: var(--wt-chip-primary-background-color);
    color: var(--wt-chip-primary-text-color);
  }

  &--secondary-color {
    background: var(--wt-chip-secondary-background-color);
    color: var(--wt-chip-secondary-text-color);
  }

  &--success-color {
    background: var(--wt-chip-success-background-color);
    color: var(--wt-chip-success-text-color);
  }

  &--warning-color {
    background: var(--wt-chip-warning-background-color);
    color: var(--wt-chip-warning-text-color);
  }

  &--error-color {
    background: var(--wt-chip-error-background-color);
    color: var(--wt-chip-error-text-color);
  }

  &--transfer-color {
    background: var(--wt-chip-transfer-background-color);
    color: var(--wt-chip-transfer-text-color);
  }
}
