:root {
  --indicator-size: 14px;
  --indicator-text-margin: 10px;
  
  --indicator-primary-color: var(--main-accent-color);

  --indicator-secondary-color: var(--indicator-secondary-color);

  --indicator-disabled-color: var(--disabled-color);

  --indicator-true-color: var(--true-color);

  --indicator-false-color: var(--false-color);

  --indicator-transfer-color: var(--transfer-color);
}