.wt-badge {
  @extend %typo-body-2;

  display: inline-block;
  padding: var(--badge-padding);
  background: var(--badge-bg-color);
  border-radius: var(--badge-border-radius);

  &--main-color {
    background: var(--badge-bg-color);
  }

  &--outline-color {
    background: var(--badge-bg-color--outline);
  }

  &--accent-color {
    background: var(--accent-color);
  }

  &--secondary-color {
    background: var(--secondary-color);
  }

  &--success-color {
    background: var(--true-color);
  }

  &--danger-color {
    background: var(--false-color);
  }

  &--transfer-color {
    background: var(--transfer-color);
  }
}
