
:root {
  --select-icon-top-pos: var(--spacing-xs);
  --select-chip-top-pos: var(--spacing-xs);

  --select-caret-right-pos: var(--input-padding);

  --select-tags-border: var(--input-border);  // right pos = 10px spacing + clear icon size + clear offset

  --select-options-padding: var(--input-padding);

  --select-option--hover-color: var(--accent-secondary-color);
  --select-option--active-color: var(--accent-secondary-color);
}
