#wt-flow-diagram {
  --elevation-1:  0px 1px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-2:  0px 2px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-3:  0px 3px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-4:  0px 4px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-5:  0px 5px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-6:  0px 6px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-7:  0px 7px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-8:  0px 8px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-9:  0px 9px 10px hsla(0, 0%, 0%, 0.15);
  --elevation-10:  0px 10px 10px hsla(0, 0%, 0%, 0.15);
}
