
:root {
  --wt-app-header-min-height: 54px;
  --wt-app-header-padding: 8px 60px;

  --wt-app-header-content-gap: var(--spacing-sm);
  --wt-app-header-content-panel-margin: 5px;
  --wt-app-header-content-bg-color: var(--main-primary-color);
  --wt-app-header-content-z-index: 11;

  --wt-app-navigator-max-height: 80vh;
  --wt-app-navigator-item-size: 120px;
  --wt-app-navigator-item-border: 1px solid;
  --wt-app-navigator-item-border-color: var(--main-outline-color);
  --wt-app-navigator-item-border-color--hover: var(--main-accent-color);

  --wt-header-actions-min-width: 120px;
  --wt-header-actions-action-bg-color--hover: var(--main-page-bg-color);
  --wt-header-actions-action-link-padding: 10px var(--wt-app-header-content-gap);
}