
:root {
  --headline-padding: var(--spacing-sm);
  --headline-min-height: calc(40px + var(--headline-padding)); // button/search-bar height + paddings
  --headline-title-margin: var(--spacing-sm);
  --headline-background: var(--main-color);
}