.wt-vidstack-player {
  --wt-player-width-sm: 256px;
  --wt-player-height-sm: 211px;
  --wt-player-control-bar-height-md: 56px;
  --wt-player-control-bar-height-sm: 40px;
  --wt-player-control-bar-padding-md: var(--spacing-md);
  --wt-player-control-bar-padding-sm: var(--spacing-sm);
  --wt-player-control-bar-gap-md: var(--spacing-md);
  --wt-player-control-bar-gap-sm: var(--spacing-sm);
  --wt-player-control-bar-border-radius-lg: var(--spacing-md);
  --wt-player-video-control-bar-background: var(--text-on-brand-color);
  --wt-player-video-control-bar-color: #33394C;
  --wt-slider-range-background: #F1B10D;
  --wt-slider-track-background: #C2C7D6;

  --wt-slider-pointer-sm: var(--spacing-md);
  --wt-slider-handle-content-background: var(--wt-player-video-control-bar-background);
  --wt-slider-handle-background: #C2C7D6;
  --wt-slider-background-corner-radius: var(--spacing-2xs);
}
