
:root {
  --tooltip-padding: 10px 20px;
  --tooltip-z-index: 100;

  --tooltip-light-text-color: #000;
  --tooltip-light-bg-color: #fff;
  --tooltip-dark-text-color: #fff;
  --tooltip-dark-bg-color: #464858;
}