
:root {
  --tooltip-padding: var(--spacing-3xs) var(--spacing-2xs);
  --tooltip-z-index: 100;

  --tooltip-light-text-color: var(--text-primary-color);
  --tooltip-light-bg-color: var(--main-color);
  --tooltip-dark-text-color: var(--text-contrast-color);
  --tooltip-dark-bg-color: var(--contrast-color);

  --tooltip-elevation: var(--elevation-10);
}