
:root {
  --datetimepicker-padding: 9px 44px;
  --datetimepicker-icon-margin: 10px;
  --datetimepicker-border: 1px solid;

  --datetimepicker-form-padding: 10px;
  --datetimepicker-form-bg-color: var(--main-primary-color);
  --datetimepicker-form-z-index: 1;

  --datetimepicker-form-content-margin: 10px;
}