
:root {
  --datetimepicker-padding: var(--datepicker-padding);
  --datetimepicker-icon-margin: var(--datepicker-icon-margin);
  --datetimepicker-border: 1px solid;

  --datetimepicker-form-padding: var(--spacing-xs);
  --datetimepicker-form-bg-color: var(--main-color);
  --datetimepicker-form-z-index: 5; // overflow selects' arrow

  --datetimepicker-form-content-margin: var(--spacing-xs);
}