
:root {
  --status-select-select-tags-padding: 9px 34px 9px 9px; // 34px = 24 + 10
  --status-select--hover-color: var(--form-input-color);
  --status-select-bg--hover-color: #F9F9F9; // zebra-like
}