
:root {
  --wt-slider-pointer-size: 16px;
  --wt-slider-height: var(--wt-slider-pointer-size);

  --wt-slider-width: 100%;
  --wt-slider-input-height: 8px;
  --wt-slider-border: 1px solid var(--secondary-color);
  --wt-slider-background-color: var(--secondary-color);
  --wt-slider-background-completed-color: var(--primary-color);

  --wt-slider-pointer-background-color: var(--white);

  --wt-slider-pointer-radius: 50%;

  --wt-slider-vertical-container-translation: translate(2px);
  --wt-slider-vertical-transform: translate(-100%, 0) rotate(-90deg);
  --wt-slider-vertical-transform-origin: 100% 0;
}
