
:root {
  --notifications-bar-max-height: 60%;
  --notifications-bar-corner-margin: var(--spacing-sm);
  --notifications-bar-notifications-margin: 0 0 var(--spacing-xs) auto;
  --notifications-bar-z-index: 101;
}