:root {
  --wt-dual-panel-padding: var(--spacing-sm);
  --wt-dual-panel-section-padding: var(--spacing-sm);
  --wt-dual-panel-section-gap: var(--spacing-sm);

  --wt-dual-panel-background-color: var(--grey-lighten-5);
  --wt-dual-panel-content-wrapper-color: var(--content-wrapper-color);
}

:root.theme--dark {
  --wt-dual-panel-background-color: var(--grey-darken-4);
}
