@import "~@webitel/ui-sdk/src/css/main.scss";
//@import "../../../src/css/main.scss";
//@import "../../../src/css/components/organisms/wt-notifications-bar/variables";

body {
  @extend %typo-body-lg;
}

.docs {
  h2 {
    margin-bottom: 20px;
  }

  h3 {
    @extend %typo-heading-md;
    margin: 20px 10px;
  }
}

// for wrapping component example usage
.example-wrapper {
  margin: 10px 0;
}

.full-docs-link {
  color: revert;
  text-decoration: underline;
}
