@import '/node_modules/github-markdown-css/github-markdown.css';
@import '../../../src/css/main.scss';

//@import "../../../src/css/main.scss";
//@import "../../../src/css/components/organisms/wt-notifications-bar/variables";

body {
  @extend %typo-body-1;
}

#app {
  min-height: 100vh;
}

.docs {
  min-height: 100vh;
}

.docs-text {
  h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }

  h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-weight: bold;
  }

  h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    font-weight: bold;
  }

  h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    font-weight: bold;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

// for wrapping component example usage
.example-wrapper {
  margin: 10px 0;
}

.full-docs-link {
  font-size: 25px;
  color: revert;
  text-decoration: underline;
}

