@import "~@webitel/ui-sdk/src/css/main.scss";
@import '~github-markdown-css/github-markdown.css';
//@import "../../../src/css/main.scss";
//@import "../../../src/css/components/organisms/wt-notifications-bar/variables";

body {
  @extend %typo-body-1;
}

.docs *:not(.initial) {
  //h2 {
  //  margin-bottom: 20px;
  //}
  //
  //h3 {
  //  @extend %typo-heading-2;
  //  margin: 20px 10px;
  //}
  //
  //h4 {
  //  @extend %typo-heading-3;
  //  margin: 15px 10px;
  //}
  //
  //p {
  //  margin-bottom: 10px;
  //}

  //.docs-content-wrapper {
  //  ul {
  //    list-style: initial;
  //
  //    li {
  //      margin: 20px 10px;
  //    }
  //  }
  //
  //  a {
  //    text-decoration: underline;
  //  }
  //
  //  code {
  //    font-size: 120%;
  //  }
  //}
}

// for wrapping component example usage
.example-wrapper {
  margin: 10px 0;
}

.full-docs-link {
  color: revert;
  text-decoration: underline;
}
