:root {
  --wt-label-padding: var(--spacing-2xs) var(--spacing-xs);

  --wt-label-color: var(--p-form-field-color);
  --wt-label-error-color: var(--p-error-color);
  --wt-label-disabled-color: var(--p-form-field-disabled-color);
}
