
:root {
  --headline-nav-indicator-size: 4px;
  --headline-nav-gap: var(--spacing-sm);
  --headline-nav-dot-gap: var(--spacing-2xs);
  --headline-nav-indicator-color: var(--icon-color);
  --headline-nav-accent-indicator-color: var(--primary-color);
}
