@use '../../css/styleguide/styleguide' as *;

:deep(.multiselect) {
  position: relative;
  cursor: pointer;

  .multiselect__select {
    position: absolute;
    top: var(--select-icon-top-pos);
    right: var(--select-caret-right-pos);
    width: fit-content; // reset default
    height: fit-content; // reset default
    padding: 0; // reset default
    transition: var(--transition);
    background: transparent;

    &:before {
      display: none; // reset default
    }
  }

  .multiselect__limit {
    position: absolute;
    top: var(--select-chip-top-pos);
  }

  .multiselect__clear {
    position: absolute;
    z-index: 1;
    top: var(--select-icon-top-pos);
  }

  // visible select input wrapper
  .multiselect__tags {
    padding: calc(var(--spacing-xs) - 1px); // borders
    border: var(--select-tags-border);
    border-color: var(--wt-text-field-input-border-color);
    border-radius: var(--border-radius);
    background: transparent;
  }

  .multiselect__input,
  .multiselect__single,
  .multiselect__placeholder {
    @extend %typo-body-1;
    @include wt-placeholder;
    margin: 0; // reset default
    padding: 0; // reset default
    color: var(--wt-text-field-text-color);
    background: transparent;
  }

  .multiselect__custom-tag,
  .multiselect__single-label {
    color: var(--wt-text-field-text-color);
  }

  .multiselect__placeholder {
    @extend %wt-placeholder;
    display: block;
    overflow: hidden;
    max-width: 100%;
    color: var(--wt-text-field-placeholder-color);

    // text overflow 3 dots
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // select options wrapper
  .multiselect__content-wrapper {
    @extend %wt-distant-scrollbar;
    transition: var(--transition);
    border: var(--select-tags-border);
    border-color: var(--wt-text-field-select-option-wrapper-border-color);
    border-radius: var(--border-radius);
    background: transparent;
    box-shadow: var(--elevation-10);
  }

  // select options
  .multiselect__option {
    @extend %typo-body-1;
    padding: var(--select-options-padding);
    color: var(--wt-text-field-select-option-text-color);
    background: var(--wt-text-field-select-option-background-color);

    &:after {
      display: none;
    }

    &--highlight {
      color: var(--wt-text-field-select-option-text-hover-color);
      background: var(--wt-text-field-select-option-background-hover-color);
    }

    &--selected {
      font-weight: normal; // reset
      color: var(--wt-text-field-select-option-text-selected-color);
      background: var(--wt-text-field-select-option-background-selected-color);
    }
  }
}

:deep(.multiselect--active) {
  .multiselect__select.multiselect__arrow .wt-icon__icon {
    fill: var(--icon-active-color);
  }

  .multiselect__select.multiselect__custom-value {
    transform: none;
  }
}

.wt-select--loading,
.wt-tags-input--loading {
  :deep(.multiselect) {
    .multiselect__content-wrapper {
      overflow-y: hidden;
    }

    .multiselect__loading-wrapper {
      position: sticky;
      z-index: 1;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 300px; // max dropdown panel height
      backdrop-filter: blur(4px);
    }
  }
}

.wt-select.wt-select--invalid,
.wt-tags-input.wt-tags-input--invalid {
  :deep(.multiselect) {
    .multiselect__tags {
      border-color: var(--wt-text-field-input-border-error-color);
      outline: none; // prevent outline overlapping false color
    }

    .multiselect__custom-tag,
    .multiselect__single-label {
      color: var(--wt-text-field-placeholder-error-color);
    }

    .multiselect__placeholder {
      @extend %wt-placeholder--error;
      //color: var(--form-placeholder--disabled-color);
    }
  }
}

.wt-select--disabled,
.wt-tags-input--disabled {
  pointer-events: none;

  .multiselect--disabled {
    opacity: 1;
    background: none;
  }

  .multiselect__select {
    background: transparent; // reset default
  }

  :deep(.multiselect) {
    .multiselect__tags {
      border-color: var(--wt-text-field-input-border-disabled-color);
      background: var(--wt-text-field-input-background-disabled-color);

      .multiselect__placeholder {
        @extend %wt-placeholder--disabled;
        //color: var(--form-placeholder--disabled-color);
      }
    }
  }
}

// override .wt-select colors on chips
.wt-tags-input,
.wt-tags-input--invalid {
  :deep(.multiselect) {
    .multiselect__tags {
      .multiselect__custom-tag,
      .multiselect__single-label {
        color: var(--wt-chip-main-text-color);
      }
    }
  }
}
