
:root {
  --tags-input-padding: var(--input-padding);
  --tags-input-min-height: 40px; // 24px lh + paddings
  --tags-input-border: var(--input-border);
  --tags-input-border-color: var(--form-border-color);

  --tags-input-tags-gap: var(--spacing-xs);
  --tags-input-tag-text-color: var(--text-primary-color);
  --tags-input-tag-bg-color: var(--accent-secondary-color);
  --tags-input-tag-actions-margin-left: var(--spacing-2xs);

  --tags-input-autocomplete-max-height: 300px;
  --tags-input-autocomplete-border: var(--input-border);
  --tags-input-autocomplete-border-color: var(--form-border-color);
  --tags-input-autocomplete-option-padding: var(--input-padding);
  --tags-input-autocomplete-option--text-color: var(--form-placeholder-color);

  --tags-input-option-bg-color--hover: var(--accent-secondary-color);
  --tags-input-option-text-color--hover: var(--text-primary-color);
}
