
:root {
  --icon-3xl-size: 56px;
  --icon-2xl-size: 48px;
  --icon-xl-size: 40px;
  --icon-lg-size: 32px;
  --icon-md-size: 24px;
  --icon-sm-size: 16px;
  --icon-xs-size: 8px;

  --icon-color: var(--grey-darken-2);
  --icon-error-color: var(--error-color);
  --icon-success-color: var(--success-color);
  --icon-warning-color: var(--warning-color);
  --icon-on-dark-color: var(--white);
  --icon-on-light-color: var(--grey-darken-3);
  --icon-on-primary-color: var(--on-primary-color);
  --icon-info-color: var(--info-color);
  --icon-chat-color: var(--chat-color);
  --icon-transfer-color: var(--transfer-color);
  --icon-job-color: var(--job-color);
  --icon-disabled-color: var(--grey-lighten-4);
}

:root.theme--dark {
  --icon-color: var(--grey-lighten-2);
  --icon-disabled-color: var(--grey-darken-2);
  --icon-error-color: var(--error-color);
  --icon-success-color: var(--success-color);
  --icon-warning-color: var(--warning-color);
  --icon-on-dark-color: var(--white);
  --icon-on-light-color: var(--grey-darken-3);
  --icon-on-primary-color: var(--on-primary-color);
  --icon-info-color: var(--info-color);
  --icon-chat-color: var(--chat-color);
  --icon-transfer-color: var(--transfer-color);
  --icon-job-color: var(--job-color);
}
