.wt-context-menu {
  --context-menu-option-color--hover: var(--secondary-color);

  --context-menu-background-color: var(--main-color);

  --context-menu-option-padding: var(--spacing--sm);
  --context-menu-min-width : 150px;
}
