.wt-context-menu {
  %typo-context-menu {
    font: {
      family: 'Montserrat Regular', monospace;
      size: 10px;
    }
    line-height: 20px;
  }

  --context-menu-option-color--hover: var(--secondary-color);

  --context-menu-background-color: var(--main-color);

  // wt-icon has own paddings, that why the paddings bellow are like they are
  --context-menu-option-padding: var(--spacing--sm);
  --context-menu-min-width : 150px;
}
