.wt-context-menu {
  --context-menu-min-width : 160px;
  --context-menu-max-width : 300px;

  --context-menu-option-color--hover: var(--secondary-color);

  --context-menu-background-color: var(--main-color);

  --context-menu-option-padding: var(--spacing-sm);
}
