
:root {
  --table-col-min-width: 140px;

  --table-head-sort-arrow-margin: var(--spacing-xs);
  --table-head-border: 1px solid;
  --table-head-border-color: var(--secondary-color);

  --table-min-height: 24px; // 24px icon size or body-1 lh
  --table-column-gap: var(--spacing-xs);
  --table-row-padding: var(--spacing-xs);

  --table-primary-color: var(--main-color);
  --table--hover-color: var(--accent-secondary-color);
  --table-secondary-color: var(--secondary-color-50); // zebra
}