
:root {
  --wt-expansion-panel-header-background-color: var(--dp-16-surface-color);
  --wt-expansion-panel-header-text-color: var(--text-main-color);
  --wt-expansion-panel-body-background-color: var(--content-wrapper-color);
  --wt-expansion-panel-body-text-color: var(--text-main-color);
}
