@use '@webitel/styleguide' as *;
//@use '../viewport-breakpoints/viewport-breakpoints' as *;

.d-none {
  display: none;
}

@media (#{$media} and #{$media-width-sm}) {
  .d-none-sm {
    display: none;
  }
  .d-block-sm {
    display: block;
  }
}

@media (#{$media} and #{$media-width-xs}) {
  .d-none-xs {
    display: none;
  }
  .d-block-xs {
    display: block;
  }
}
