@use '../viewport-breakpoints/viewport-breakpoints';

.d-none {
  display: none;
}

@media (#{viewport-breakpoints.$media} and #{viewport-breakpoints.$media-width-sm}) {
  .d-none-sm {
    display: none;
  }
  .d-block-sm {
    display: block;
  }
}

@media (#{viewport-breakpoints.$media} and #{viewport-breakpoints.$media-width-xs}) {
  .d-none-xs {
    display: none;
  }
  .d-block-xs {
    display: block;
  }
}
