
:root {
  --tags-input-min-height: 40px; // 38px + border-box
  --tags-input-padding: 5px 10px;
  --tags-input-border: var(--input-border);
  --tags-input-border-color: var(--form-border-color);

  --tags-input-tag-spacing-margin: 10px;
  --tags-input-tag-text-color: var(--text-primary-color);
  --tags-input-tag-bg-color: var(--main-secondary-accent-color);
  --tags-input-tag-border-radius: 20px;
  --tags-input-tag-actions-margin-left: var(--tags-input-tag-spacing-margin);

  --tags-input-tag-text-color--deletion: var(--text-contrast-color);
  --tags-input-tag-bg-color--deletion: var(--false-color);

  --tags-input-autocomplete-max-height: 300px;
  --tags-input-autocomplete-border: var(--input-border);
  --tags-input-autocomplete-border-color: var(--form-border-color);
  --tags-input-autocomplete-option-padding: var(--input-padding);
  --tags-input-autocomplete-option--text-color: var(--form-placeholder-color);

  --tags-input-option-bg-color--hover: var(--main-secondary-accent-color);
  --tags-input-option-text-color--hover: var(--text-primary-color);
}