:root {
  --wt-avatar-size--size-xs: calc(var(--_spacing-multiplicator) * 3);
  --wt-avatar-size--size-sm: calc(var(--_spacing-multiplicator) * 4);
  --wt-avatar-size--size-md: calc(var(--_spacing-multiplicator) * 5);
  --wt-avatar-size--size-lg: calc(var(--_spacing-multiplicator) * 7);
  --wt-avatar-size--size-xl: calc(var(--_spacing-multiplicator) * 9);
  --wt-avatar-size--size-2xl: calc(var(--_spacing-multiplicator) * 12);
  --wt-avatar-size--size-3xl: calc(var(--_spacing-multiplicator) * 16);

  --wt-avatar-size: var(--wt-avatar-size--size-md);

  --online-color: var(--success-color);
  --dnd-color: var(--warning-color);
  --busy-color: var(--error-color);
  --offline-color: var(--disabled-color);
  --pause-color: var(--warning-color);

  --wt-avatar-text-color: var(--white);

  --wt-avatar-letters-p1-color: var(--red-lighten-2);
  --wt-avatar-letters-p2-color: var(--purple-lighten-2);
  --wt-avatar-letters-p3-color: var(--deep-purple-lighten-2);
  --wt-avatar-letters-p4-color: var(--indigo-lighten-2);
  --wt-avatar-letters-p5-color: var(--blue-lighten-1);
  --wt-avatar-letters-p6-color: var(--cyan-lighten-1);
  --wt-avatar-letters-p7-color: var(--teal-darken-3);
  --wt-avatar-letters-p8-color: var(--green-darken-2);
  --wt-avatar-letters-p9-color: var(--lime-darken-3);
  --wt-avatar-letters-p10-color: var(--yellow-darken-3);
  --wt-avatar-letters-p11-color: var(--amber-lighten-2);
  --wt-avatar-letters-p12-color: var(--orange-darken-1);
  --wt-avatar-letters-p13-color: var(--deep-purple-lighten-1);
}

:root.theme--dark {
  --wt-avatar-text-color: var(--black);
}
