
:root {
  --status-select-padding: 0 calc(var(--icon-size-md) + var(--spacing-xs)) 0 0; // reset wt-select padding, but preserve arrow icon padding
  --status-select-option-color: var(--form-input-color);
  --status-select-bg--hover-color: var(--secondary-color);
}