// shared text field colors

:root {
  // TODO: move to separate helper-text component
  // helper
  --wt-helper-text-color: var(--text-main-color);
  --wt-helper-text-disabled-color: var(--text-disabled-color);
  --wt-helper-text-invalid-color: var(--text-error-color);

  // text
  --wt-text-field-text-color: var(--black);

  // placeholder
  --wt-text-field-error-text-color: var(--error-color);
  --wt-text-field-placeholder-color: var(--grey-lighten-1);
  --wt-text-field-placeholder-error-color: var(--error-color);
  --wt-text-field-placeholder-disabled-color: var(--text-disabled-color);

  // border
  --wt-text-field-input-border-color: var(--grey-darken-1);
  --wt-text-field-input-border-disabled-color: var(--dp-16-surface-color);
  --wt-text-field-input-border-error-color: var(--error-color);

  // input bg
  --wt-text-field-input-background-disabled-color: var(--dp-16-surface-color);

  // select
  --wt-text-field-select-option-text-color: var(--text-main-color);
  --wt-text-field-select-option-text-hover-color: var(--primary-on-color);
  --wt-text-field-select-option-text-selected-color: var(--primary-on-color);

  --wt-text-field-select-option-wrapper-border-color: var(
    --dp-22-surface-color
  );
  --wt-text-field-select-option-background-color: var(--dp-22-surface-color);
  --wt-text-field-select-option-background-hover-color: var(
    --primary-light-color
  );
  --wt-text-field-select-option-background-selected-color: var(--primary-color);
}

:root.theme--dark {
  // text
  --wt-text-field-text-color: var(--white);

  --wt-text-field-input-border-color: var(--grey-lighten-1);
}
