
:root {
  --datepicker-padding:
    var(--input-padding)
    calc(
      var(--input-padding)
    + var(--icon-md-size)
    + var(--spacing-xs)
    );
  --datepicker-icon-margin: var(--spacing-xs);
  --datepicker-border: 1px solid;

  --datepicker-cell-size: var(--spacing-lg);
  --datepicker-cell-gap: var(--spacing-xs);
  --datepicker-calendar-padding: var(--spacing-xs);
  --datepicker-calendar-header-margin: var(--spacing-xs);

  --datepicker-selected-cell-text-color: var(--main-color);
  --datepicker-selected-cell-bg-color: var(--accent-color);
  --datepicker-cell--hover-color: var(--secondary-color-50);
}
