
:root {
  --chip-padding: var(--spacing-xs) var(--spacing-sm);
  --chip-border-radius: var(--spacing-lg);
  --chip-bg-color: var(--main-secondary-accent-color);
  --chip-bg-color--outline: var(--main-outline-color);
}