:root {
  --rounded-action-border-size: 2px;
  --rounded-action-padding: calc(var(--spacing-xs) - var(--rounded-action-border-size));

  --rounded-action-rounded-border-radius: var(--border-radius--pill);

  --rounded-action-bg-color: var(--dp-18-surface-color);
  --rounded-action-bg-hover-color: var(--dp-20-surface-color);

  --rounded-action-active-color: var(--dp-10-surface-color);
}

:root.theme--dark {
}
