:root {
  --page-wrapper-padding: var(--spacing-xs);
  --page-wrapper-section-padding: var(--spacing-xs);
  --page-wrapper-section-gap: var(--spacing-xs);

  --wt-page-wrapper-background-color: var(--p-surface-50);
  --wt-page-wrapper-content-wrapper-color: var(--content-wrapper-color);

  --content-wrapper-border-radius: var(--p-border-radius-lg);
}

:root.theme--dark {
  --wt-page-wrapper-background-color: var(--p-surface-850);
}
