.opened-card {
	width: 100%;
}

.opened-card.wt-page-wrapper,
.opened-card.wt-dual-panel {
	width: 100%;
}

.opened-card-tabs {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: var(--spacing-sm);
}

.opened-card-tabs__tab {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: var(--spacing-sm);
	min-height: 0;
}

.opened-card-header {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: var(--spacing-sm) 0;
}

.opened-card-header__title {
	font-family: "Montserrat", monospace;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-transform: none;
}

.opened-card-header__title + .hint {
	top: -2px;
}

.opened-card-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.opened-card-input-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(auto, auto);
	align-items: flex-start;
	grid-column-gap: var(--spacing-sm);
	grid-row-gap: var(--spacing-sm);
}

.opened-card-input-grid--1-col {
	grid-template-columns: 1fr;
}

.opened-card-input-grid--w50 {
	width: 50%;
}

.opened-card-input-grid--w100 {
	width: 100%;
}
