@use '@webitel/styleguide/typography' as *;

.opened-card {
  width: 100%;

  &.wt-page-wrapper,
  &.wt-dual-panel {
    width: 100%;
  }

  &-tabs {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: var(--spacing-sm);

    &__tab {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      gap: var(--spacing-sm);
      min-height: 0;
    }
  }

  &-header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-sm) 0;

    &__title {
      @extend %typo-heading-3;

      + .hint {
        top: -2px;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    align-items: flex-start;
    grid-column-gap: var(--spacing-sm);
    grid-row-gap: var(--spacing-sm);

    &--1-col {
      grid-template-columns: 1fr;
    }

    &--w50 {
      width: 50%;
    }

    &--w100 {
      width: 100%;
    }
  }
}
