@use '@webitel/styleguide/typography' as *;

:root {
  --content-wrapper-padding: var(--spacing-xs);
  --content-wrapper-gap: var(--spacing-xs);
}

.table-page {
  &.wt-page-wrapper {
    width: 100%;
    height: 100%;

    &__main {
      min-height: 0;

      .wt-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .table-section {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__table-wrapper {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 0;
      gap: var(--spacing-sm);

      .wt-pagination {
        margin-top: auto;
      }
    }

    &__visible-scroll-wrapper {
      overflow: visible;
      height: 100%;

      .wt-table {
        overflow: visible;
      }
    }
  }

  .table-title {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--spacing-sm) 0;

    &__title {
      @extend %typo-heading-3;

      + .hint {
        top: -2px;
      }
    }

    &__actions-wrap {
      display: flex;
      align-items: center;
      gap: var(--table-actions-icon-gap);
    }
  }
}
