:root {
  --scrollbar-width: 8px;
  --scrollbar-height: 8px;
  --scrollbar-thumb-width: 8px;
  --scrollbar-bg-color: var(--main-ouline-color);
  --scrollbar-thumb-color: var(--main-accent-color);
  --scrollbar-border-radius: 7px;
}

%wt-scrollbar {
  // scrollbar itself
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
    background-color: var(--scrollbar-bg-color);
    cursor: pointer;
  }

  // scrollable element
  &::-webkit-scrollbar-thumb {
    width: var(--scrollbar-thumb-width);
    height: var(--scrollbar-thumb-height);
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-border-radius);
  }
}

%wt-distant-scrollbar {
  &::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }
  &::-webkit-scrollbar-thumb {
    height: 2px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-border-radius);
   // -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
}
