:root {
  --wt-indicator-dot-size--size-sm: var(--spacing-xs);
  --wt-indicator-dot-size--size-md: var(--spacing-sm);
  --wt-indicator-dot-size: var(--wt-indicator-size--size-md);
  --wt-indicator-dot-offset: var(--spacing-2xs);

  --wt-indicator-text-margin: var(--spacing-2xs);

  --wt-indicator-primary-color: var(--primary-color);
  --wt-indicator-secondary-color: var(--dp-1-surface-color);
  --wt-indicator-disabled-color: var(--dp-10-surface-color);
  --wt-indicator-success-color: var(--success-color);
  --wt-indicator-error-color: var(--error-color);
  --wt-indicator-transfer-color: var(--transfer-color);
  --wt-indicator-break-out-color: var(--warning-color);
}
