:root {
  --indicator-dot-size--size-sm: var(--spacing-xs);
  --indicator-dot-size--size-md: var(--spacing-sm);
  --indicator-dot-size: var(--indicator-size--size-md);
  --indicator-dot-offset: var(--spacing-2xs);

  --indicator-text-margin: var(--spacing-2xs);

  --indicator-primary-color: var(--primary-color);

  --indicator-secondary-color: var(--secondary-color);

  --indicator-disabled-color: var(--disabled-color);

  --indicator-true-color: var(--true-color);

  --indicator-false-color: var(--false-color);

  --indicator-transfer-color: var(--transfer-color);

  --indicator-break-out-color: hsla(36, 90%, 50%, 1);
}
