/*
  Classes for direct use in placeholder-like elements styling
   (e.g. vue-multiselect .multiselect__placeholder which is technically a span)
*/
.wt-placeholder {
	transition: var(--transition);
	color: var(--wt-text-field-placeholder-color);
}

.wt-placeholder--disabled {
	transition: var(--transition);
	color: var(--wt-text-field-placeholder-disabled-color);
}

.wt-placeholder--error {
	transition: var(--transition);
	color: var(--wt-text-field-placeholder-error-color);
}
