:root {
	--wt-context-menu-option-padding: var(--spacing-xs);

	--wt-context-menu-background-color: var(--context-menu-background-color);
	--wt-context-menu-option-text-color: var(--context-menu-option-text-color);
	--wt-context-menu-option-background-hover-color: var(
		--context-menu-option-hover-color
	);
	--wt-context-menu-option-background-disabled-color: var(
		--context-menu-option-disabled-color
	);
	--wt-context-menu-option-text-disabled-color: var(
		--context-menu-option-text-disabled-color
	);
}
