:root {
  --context-menu-option-color--hover: var(--secondary-color);

  --context-menu-background-color: var(--main-color);

  --context-menu-option-padding: var(--spacing-xs);

  --context-menu-option-color--disabled: var(--text--disabled-color);
}
