
:root {
  --notification-min-width: 30vw;
  --notification-max-width: 40vw;
  --notification-padding: 10px;
  --notification-icon-margin: 10px;

  --notification-text-color: #000;
  --notification-bg-color: #fff;
}