.wt-player {
  --plyr-color-main: var(--main-accent-color);
  --plyr-audio-control-color: var(--icon-primary-color);
  // --plyr-control-toggle-checked-background: var(--main-primary-color);
  --player-close-icon-spacing: var(--spacing--xs);
}
