.wt-player {
  --plyr-color-main: var(--main-accent-color);
  --plyr-audio-control-color: var(--icon-primary-color);
  // --plyr-control-toggle-checked-background: var(--main-primary-color);
  --player-close-icon-spacing: var(--spacing--xs);
  // This variable exist because we don't now how to change a backgroundColor of media player with css help.
  --player-main-color: hsla(0, 0%, 100%, 1);
}
