:root {
  --navigation-bar-width: 350px;
  --navigation-bar-z-index: 10;
  --navigation-bar-bg-color: var(--main-primary-color);
  --navigation-bar-verical-padding: 15px;
  --navigation-bar-horizontal-padding: 10px;

  --navigation-bar-header-padding: var(--navigation-bar-verical-padding) 15px;
  --navigation-bar-list-padding: var(--navigation-bar-verical-padding) var(--navigation-bar-horizontal-padding);
  --navigation-bar-link-padding: var(--navigation-bar-verical-padding) var(--navigation-bar-horizontal-padding);
  --navigation-bar-subnav-padding-left: 40px;
  --navigation-bar-active-expansion-flag-width: 5px;
  --navigation-bar-active-expansion-name-max-width: calc(100% - 24px - 10px); // 100% - icon - icon margin
}