//@import './viewport-breakpoints';

:root {
  // Start point
  --_spacing-multiplicity: 4px;

  // Spacings
  --spacing--xs: calc(var(--_spacing-multiplicity) * 1);
  --spacing--sm: calc(var(--_spacing-multiplicity) * 2);
  --spacing--md: calc(var(--_spacing-multiplicity) * 3);
  --spacing--lg: calc(var(--_spacing-multiplicity) * 4);
  --spacing--xl: calc(var(--_spacing-multiplicity) * 5);
  --spacing--2xl: calc(var(--_spacing-multiplicity) * 6);
  --spacing--3xl: calc(var(--_spacing-multiplicity) * 7);

  // Border radius
  --border-radius: var(--spacing--xs);

  // DEPRECATED
  --component-padding: var(--spacing--lg);
  --component-spacing: var(--spacing--lg);
  --icon-spacing: var(--spacing--sm);

  //@media (#{$media} and #{$media-width-sm}) {
  //  --component-padding: 10px;
  //  --component-spacing: 10px;
  //}
  //
  //@media (#{$media} and #{$media-width-xs}) {
  //  --component-padding: 10px;
  //  --component-spacing: 1px;
  //}
}