:root {
  --breadcrumb-indicator-size: 4px;
  --breadcrumb-gap: var(--spacing-sm);
  --breadcrumb-dot-gap: var(--spacing-2xs);
  --breadcrumb-indicator-color: var(--icon-color);
  --breadcrumb-accent-indicator-color: var(--primary-color);
}
