/* Component Variables - Centralized to avoid duplication */
/* This file imports all component-specific CSS variables once globally */

@import '../components/wt-app-header/_variables.css';
@import '../components/wt-avatar/_variables.css';
@import '../components/wt-badge/_variables.css';
@import '../components/wt-breadcrumb/_variables.css';
@import '../components/wt-button-select/_variables.css';
@import '../components/wt-button/_variables.css';
@import '../components/wt-checkbox/_variables.css';
@import '../components/wt-chip/_variables.css';
@import '../components/wt-context-menu/_variables.css';
@import '../components/wt-datepicker/_variables.css';
@import '../components/wt-divider/_variables.css';
@import '../components/wt-dual-panel/_variables.css';
@import '../components/wt-dummy/_variables.css';
@import '../components/wt-empty/_variables.css';
@import '../components/wt-error-page/_variables.css';
@import '../components/wt-expansion-panel/_variables.css';
@import '../components/wt-headline/_variables.css';
@import '../components/wt-icon-btn/_variables.css';
@import '../components/wt-icon/_variables.css';
@import '../components/wt-indicator/_variables.css';
@import '../components/wt-input-info/_variables.css';
@import '../components/wt-input/_variables.css';
@import '../components/wt-item-link/_variables.css';
@import '../components/wt-label/_variables.css';
@import '../components/wt-load-bar/_variables.css';
@import '../components/wt-loader/_variables.css';
@import '../components/wt-logo/_variables.css';
@import '../components/wt-navigation-bar/_variables.css';
@import '../components/wt-notification/_variables.css';
@import '../components/wt-notifications-bar/_variables.css';
@import '../components/wt-page-wrapper/_variables.css';
@import '../components/wt-pagination/_variables.css';
@import '../components/wt-player/_variables.css';
@import '../components/wt-popup/_variables.css';
@import '../components/wt-progress-bar/_variables.css';
@import '../components/wt-radio/_variables.css';
@import '../components/wt-rounded-action/_variables.css';
@import '../components/wt-search-bar/_variables.css';
@import '../components/wt-select/_variables.css';
@import '../components/wt-slider/_variables.css';
@import '../components/wt-status-select/_variables.css';
@import '../components/wt-stepper/_variables.css';
@import '../components/wt-switcher/_variables.css';
@import '../components/wt-table-actions/_variables.css';
@import '../components/wt-table/_variables.css';
@import '../components/wt-tabs/_variables.css';
@import '../components/wt-textarea/_variables.css';
@import '../components/wt-timepicker/_variables.css';
@import '../components/wt-tooltip/_variables.css';
@import '../components/wt-tree-line/_variables.css';
@import '../components/wt-tree-table/_variables.css';

