@import "./styleguide/styleguide.css";
@import "./components-variables.css";
@import "./pages/table-page.css";
@import "./pages/card-page.css";

/* 
	@author HlukhovYe
	layer needed beacuse of manipulating primevue's default typography
	https://webitel.atlassian.net/browse/WTEL-8775?focusedCommentId=723773
*/
@layer wt-default {
	:root {
		--transition: 0.2s;
		--box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

		/* viewport breakpoints */
		--viewport-lg: 1904px;
		--viewport-md: 1264px;
		--viewport-sm: 960px;
		--viewport-xs: 600px;
	}

	html {
		height: 100%;
		font-size: 16px;
	}

	body {
		font-family: "Montserrat", monospace;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: none;
		margin: 0;
		height: 100%;
		min-height: 100%;
	}

	* {
		box-sizing: border-box;
	}

	.theme--dark body {
		color-scheme: dark;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		font-weight: normal;
	}

	/* reset ul styles */
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	iframe {
		outline: none;
		border: none;
	}

	a {
		color: #000;
		text-decoration: none;
	}

	.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

/* 
	@author HlukhovYe
	reset input autofill styles https://webitel.atlassian.net/browse/WTEL-9005
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s; /* prevents an immediate color change */
}

/* https://github.com/Akryum/floating-vue/issues/488 */
.v-popper__arrow-container {
	display: none;
}
