@forward 'styleguide/styleguide';
@use 'styleguide/styleguide' as *;
@use 'pages/card-page';
@use 'pages/table-page';


@include wt-placeholder;

:root {
  --transition: 0.2s;

  --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

@mixin width-fit-content {
  width: fit-content;
}

html {
  height: 100%;
}

body {
  @extend %typo-body-1;

  height: 100%;
  min-height: 100%;
  margin: 0;
}

.theme--dark {
  body {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

//reset ul styles
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

iframe {
  border: none;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline-color: #000;
  background: transparent;
}

a {
  text-decoration: none;
  color: #000;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

// https://github.com/Akryum/floating-vue/issues/488
.v-popper__arrow-container {
  display: none;
}
