@forward 'styleguide/styleguide';
@use 'styleguide/styleguide' as *;
@use '../plugins/primevue/primevue' as *;
@use 'pages/table-page';
@use 'pages/card-page';

@include wt-placeholder;

:root {
  --transition: 0.2s;

  --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

@mixin width-fit-content {
  width: fit-content;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  @extend %typo-body-1;
  margin: 0;

  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.theme--dark {
  body {
    color-scheme: dark;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

//reset ul styles
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

iframe {
  outline: none;
  border: none;
}

a {
  color: #000;
  text-decoration: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

// https://github.com/Akryum/floating-vue/issues/488
.v-popper__arrow-container {
  display: none;
}
