@import './main.css';

// @forward 'styleguide/styleguide';
// @use 'styleguide/styleguide' as *;
// @use '../plugins/primevue/primevue' as *;
// @use 'pages/table-page';
// @use 'pages/card-page';

// @include wt-placeholder;

@mixin width-fit-content {
  width: fit-content;
}
