
:root {
  --notification-min-width: 30vw;
  --notification-max-width: 40vw;
  --notification-padding: var(--spacing-xs);
  --notification-icon-margin: var(--spacing-xs);

  --notification-text-color: var(--text-primary-color);
  --notification-bg-color: var(--main-color);
}