:root {
  --wt-notification-min-width: 30vw;
  --wt-notification-max-width: 40vw;
  --wt-notification-padding: var(--spacing-xs);
  --wt-notification-icon-margin: var(--spacing-xs);

  --wt-notification-text-color: var(--text-main-color);
  --wt-notification-bg-color: var(--content-wrapper-color);
}
