:root {
  --tabs-underiline-height: 1px;
  --tabs-underiline-color: transparent;

  --tab-padding: var(--spacing-2xs);
  --tab-gap: var(--spacing-2xs);
  --wt-tabs-text-color: var(--text-main-color);
  --wt-tabs-text-hover-color: var(--wt-tabs-text-color);
  --wt-tabs-text-active-color: var(--wt-tabs-text-color);
  --tab-border: 4px solid;
  --wt-tabs-underline-active-color: var(--primary-color);
  --tab-z-index: 1;
}
