
:root {
  --tabs-underiline-height: 1px;
  --tabs-underiline-color: transparent;

  --tab-padding: var(--spacing-2xs);
  --tab-gap: var(--spacing-2xs);
  --tab-color: var(--text-outline-color);
  --tab--hover-color: var(--text-primary-color);
  --tab--active-color: var(--text-primary-color);
  --tab-border: 4px solid;
  --tab--active-border-color: var(--primary-color);
  --tab-z-index: 1;
}
