
:root {
  --switcher-icon-margin: var(--spacing-xs);
  --switcher-width: 40px;
  --switcher-height: 22px;
  --switcher-cicle-size: 14px;
  --switcher-cicle-margin: 4px;
  --switcher-cicle-translateX: 17px;
  --switcher-bg-color--off: hsla(var(--_icon-color), var(--_opacity--default));
  --switcher-bg-color--on: hsla(var(--_accent-color), var(--_opacity--default));
  --switcher-bg-color--off--hover: hsla(var(--_icon-color), var(--_opacity--hover));
  --switcher-bg-color--on--hover: hsla(var(--_accent-color), var(--_opacity--hover));
  --switcher-bg-color--off--disabled: hsla(var(--_icon-color), var(--_opacity--disabled));
  --switcher-bg-color--on--disabled: hsla(var(--_accent-color), var(--_opacity--disabled));
  --switcher-circle-bg-color: var(--main-color);
  --switcher-border-radius: 24px;
}
