:root {
  --_elevation-color: hsla(0, 0%, 0%, 0.08);
  --elevation-1: 0px 0px 2px 1px var(--_elevation-color);
  --elevation-2: 0px 0px 4px 2px var(--_elevation-color);
  --elevation-3: 0px 0px 6px 3px var(--_elevation-color);
  --elevation-4: 0px 0px 8px 4px var(--_elevation-color);
  --elevation-5: 0px 0px 10px 5px var(--_elevation-color);
  --elevation-6: 0px 0px 12px 6px var(--_elevation-color);
  --elevation-7: 0px 0px 14px 7px var(--_elevation-color);
  --elevation-8: 0px 0px 16px 8px var(--_elevation-color);
  --elevation-9: 0px 0px 18px 9px var(--_elevation-color);
  --elevation-10: 0px 0px 20px 10px var(--_elevation-color);
}
