
:root {
  --popup-wrapper-z-index: 110;
  --popup-shadow-opacity: 0.8;
  --popup-max-height: 80vh;
  --popup-padding: 10px;
  --popup-header-padding: 0;
  --popup-main-padding: 10px 20px;
  --popup-actions-padding: 10px 20px;
  --popup-bg-color: var(--main-primary-color);
}