
:root {
  --popup-wrapper-z-index: 110;
  --popup-shadow-opacity: 0.8;
  --popup-max-height: 80vh;
  --popup-padding: 10px;
  --popup-bg-color: var(--main-primary-color);
  --popup-main-margin: 10px 0;
  --popup-actions-padding: 20px 0;
}