.wt-button-select {
  --button-select-button-padding: var(--spacing-xs) var(--spacing-sm);

  --button-select-icon-button-padding: var(--spacing-xs);

  --button-select-buttons-gap: 1px;

  --button-select-icon-color-primary: var(--btn-accent-color);
  --button-select-icon-color-secondary: var(--btn-secondary-color);
  --button-select-icon-color-dark: var(--btn-dark-font-color);
  --button-select-icon-color-ligth: var(--main-color);

  --button-select-icon-color-primary--hover: var(--btn-accent--hover-color);
  --button-select-icon-color-danger--hover: var(--btn-false--hover-color);
  --button-select-icon-color-success--hover: var(--btn-true--hover-color);
  --button-select-icon-color-transfer--hover: var(--btn-transfer--hover-color);
  --button-select-icon-color-secondary--hover: var(--btn-secondary--hover-color);
}
