:root {
	--wt-tree-table-col-min-witdh: var(--table-col-min-width);

	--wt-tree-table-head-sort-arrow-margin: var(--table-head-sort-arrow-margin);
	--wt-tree-table-head-border: var(--table-head-border);

	--wt-tree-table-min-height: var(--table-min-height);
	--wt-tree-table-column-gap: var(--table-column-gap);
	--wt-tree-table-row-padding: var(--table-row-padding);

	--wt-tree-table-head-border-color: var(--p-content-border-color);
	--wt-tree-table-head-background-color: var(--p-surface-100);
	--wt-tree-table-primary-color: var(--p-content-background);
	--wt-tree-table-row-border-color: var(--p-surface-100);
	--wt-tree-table-row-hover-color: var(--p-content-hover-background);
}

:root.theme--dark {
	--wt-tree-table-head-background-color: var(--p-surface-850);
	--wt-tree-table-row-border-color: var(--p-surface-700);
}
