
:root {
  --progress-bar-height: 12px;
  --progress-bar-padding: var(--spacing-3xs);
  --progress-bar-border-radius: var(--progress-bar-padding);

  --progress-bar-bg-color--primary: var(--accent-color);
  --progress-bar-bg-color--secondary: var(--secondary-color);
  --progress-bar-bg-color--success: var(--true-color);
  --progress-bar-bg-color--danger: var(--false-color);
}