:root {
  --rounded-action-padding: calc(var(--spacing-xs) - var(--btn-border-size));

  --rounded-action-padding--outline: calc(var(--spacing-xs) - var(--btn-border-size));

  --rounded-action-bg-color: var(--main-color);
}