:root {
  --popup-wrapper-z-index: 12;

  --popup-shadow-opacity: 0.8;
  --wt-popup-shadow-color: hsla(0, 0%, 0%, var(--popup-shadow-opacity));

  --wt-popup-size-xs: 300px;
  --wt-popup-size-sm: 500px;
  --wt-popup-size-md: 800px;
  --wt-popup-size-lg: 1140px;

  --popup-max-height: 90%;

  --wt-popup-background-color: var(--dp-24-surface-color);
  --popup-sections-gap: var(--spacing-xs);
  --popup-padding: var(--spacing-sm);

  --popup-header-padding: var(--spacing-xs);
  --wt-popup-header-background-color: var(--dp-18-surface-color);
  --wt-popup-header-text-color: var(--text-main-color);

  --popup-main-section-padding-right: var(--spacing-xs); // scroll offset

  --popup-actions-padding: var(--spacing-xs);
}
