// need to reuse popup styles in wt-player--md @author @liza-pohranichna

@use './variables.scss';
@use '@webitel/styleguide/typography' as *;
@use '@webitel/styleguide/scroll' as *;

.wt-popup {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: var(--popup-wrapper-z-index);
  background: var(--wt-popup-shadow-color);

  &--size {
    &-xs {
      .wt-popup__popup {
        width: var(--wt-popup-size-xs);
      }
    }

    &-sm {
      .wt-popup__popup {
        width: var(--wt-popup-size-sm);
      }
    }

    &-md {
      .wt-popup__popup {
        width: var(--wt-popup-size-md);
      }
    }

    &-lg {
      .wt-popup__popup {
        width: var(--wt-popup-size-lg);
      }
    }
  }
}

.wt-popup__popup {
  display: flex;
  flex-direction: column;
  gap: var(--popup-sections-gap);
  z-index: 1;
  margin: var(--popup-padding);
  box-shadow: var(--elevation-10);
  border-radius: var(--border-radius);
  background: var(--wt-popup-background-color);
  padding: var(--popup-padding);
  max-height: var(--popup-max-height);
}

.wt-popup__header {
  @extend %typo-subtitle-1;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: var(--popup-header-padding);
  border-radius: var(--border-radius);
  background: var(--wt-popup-header-background-color);
  padding: var(--popup-header-padding);
  color: var(--wt-popup-header-text-color);

  .wt-popup__title {
    flex-grow: 1;
    font: inherit;
  }

  .wt-popup__close-btn {
    flex: 0 0 var(--icon-md-size);
  }
}

.wt-popup__main {
  @extend %wt-scrollbar;
  @extend %typo-body-1;
  flex-grow: 1;
  padding-right: var(--popup-main-section-padding-right);
  min-height: 0;
  overflow-y: auto;
}

.wt-popup__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--popup-actions-padding);
  padding: var(--popup-actions-padding);
}

.wt-popup--overflow {
  .wt-popup__popup {
    overflow: visible;
  }

  .wt-popup__main {
    padding-right: 0;
    overflow: visible;
  }
}
