:root {
  --tooltip-padding: var(--spacing-2xs) var(--spacing-xs);

  --wt-tooltip-text-color: var(--text-main-color);
  --wt-tooltip-background-color: var(--dp-24-surface-color);

  --tooltip-elevation: var(--elevation-10);
}
